doctype html
html
	head
		title= 'Prohost Admin Panel'
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='Free Minecraft Server Hosting | Prohost.gs')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		script(src='http://code.jquery.com/jquery-1.11.1.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

	body
		block content
