
.progress .label {
	font-size: .9em;
}

.progress {
	background-color: #C7C7C7;
	margin-bottom: 0px;
}

.offline-server {
	background-color: #F2DEDE;
}

.online-server {
	background-color: #DFF0D8;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: transparent;
}

#global-stats span {
	/*background-color: #333333;*/
	/*margin-left: 5px;*/
}

#global-stats p {
	display: inline-block;
	margin-bottom: 0px;
}

#global-stats hr {
	margin: 10px 0;
}